.card { 
    max-width: 413px;
    position: relative;
}

.card__image {
    width: 100%;
    height: 413px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    max-width: 353px;
    margin: 12px 0 0;
    font-weight: 500;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.2;
}

.card__delete-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../images/Delete.svg);
    background-color: transparent;
    border: none;
}

.card__delete-button:hover {
    background-image: url(../images/Trash-Hover.svg);
}

.card__like-button {
    border: none;
    background-color: transparent;
    width: 23px;
    height: 20px;
    opacity: 40%;
    background-image: url(../images/like-icon.svg);
    margin: 12px 0 0;
}

.card__like-button:hover {
    color: #212121;
    opacity: 100%;
    cursor: pointer;
}

.card__like-button_active {
    background-image: url(../images/liked-active.svg);
    opacity: 1;
}

.card__like-button_active:hover {
    opacity: .4;
}

@media screen and (max-width: 627px) {
    .card__title {
    font-size: 16px;
    max-width: 250px;
   }

   .card__image {
    height: 288px;
   }
}