.modal {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: medium;
    font-weight: 500;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_is-opened {
    visibility: visible;
    display: flex;
    justify-content: center;
    opacity: 1;
}

.modal__container {
    max-width: 730px;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 50px;
    position: relative;
}

.modal__close-btn {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-image: url(../images/x-icon.svg);
    background-color: transparent;
    border: none;
}

.modal__title {
    margin: 0 50px 32px;
    color: rgba(33, 33, 33, 1);
    font-size: 32px;
}

.modal__form {
    margin: 0 50px 32px 50px;
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    color: rgba(33, 33, 33, .7);
    font-size: 16px;
}

.modal__input {
    display: block;
    width: 100%;
    height: 52px;
    margin: 8px 0 0;
    border-radius: 8px;
    border: 1px solid rgba(33, 33, 33, .4);
    color: rgba(0, 0, 0, .4);
}

.modal__input::placeholder {
    color: rgba(33, 33, 33, .3);
    font-size: 20px;
}

.modal__submit-btn {
    margin: 0;
    padding: 18px 58px 18px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    border: 0;
    max-width: 156px;
    width: 100%;
    height: 52px;
    color: rgba(252, 245, 229, 1);
}

@media screen and (max-width: 627px) {
    .modal__container {
        padding: 22px;
    }

    .modal__title {
        font-size: 20px;
        margin: 0 0 24px;
    }

    .modal__form {
        margin: 0;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__input::placeholder {
        font-size: 16px;
    }
    
    .modal__submit-btn {
        max-width: none;
    }
}