.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0 10px;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/x-icon.svg);
  background-color: transparent;
  border: none;
  padding: 0;
}

.modal__close_btn_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/white-x.svg);
}

.modal__close_btn_preview:hover {
  background-image: url(../images/hover-x.svg);
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 1);
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

.modal__form {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin: 0 0 32px;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 16px 12px 16px;
  margin: 8px 0 0;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-size: 20px;
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  margin-top: 8px;
}

.modal__button {
  margin: 0;
  padding: 18px 58px 18px;
  border-radius: 8px;
  background-color: #000;
  border: 0;
  max-width: 156px;
  width: 100%;
  height: 52px;
  color: rgba(252, 245, 229, 1);
  font-size: 16px;
  line-height: 1;
}

.modal__button:hover {
  cursor: pointer;
}

.modal__button--disabled {
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__image_container {
  position: relative;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(33, 33, 33, 1);
  max-width: 100%;
  border-radius: 8px;
  margin: 8px 0 0;
  display: inline-block;
  padding: 4px 8px;
  line-height: 1.4;
}

@media screen and (max-width: 627px) {
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__form {
    margin: 0;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__button {
    max-width: none;
  }

  .modal__image {
    max-width: unset;
  }
}
