.profile {
    display: flex;
    padding: 35px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, .4) solid;
}

.profile__avatar {
    margin-right: 20px;
    border-radius: 8px;
    width: 190px;
    height: 190px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    color: #212121;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__description {
    margin: 0;
    color: rgba(33, 33, 33, .7);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
    font-size: 16px;
    font-weight: 500;
}

.profile__button {
    background-color: transparent;
    opacity: 70%;
    border: none;
    max-width: 107px;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: auto;
    white-space: nowrap;
    display: flex;
}

.profile__button:hover {
    color: rgba(33, 33, 33, 1)
}
.profile__pencil {
    padding: 0 8px 0 0;
}

.profile__add-button {
    margin-left: auto;
    width: 149px;
    height: 52px;
    margin-top: auto;
    background-color: #212121;
    color: #FCF5E5;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.profile__add-button:hover {
   background-color: rgba(33, 33, 33, .8);
}
.profile__plus {
    width: 12px;
    height: 12px;
    padding: 0 8px 0 0;
}

@media screen and (max-width: 627px) {
   .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
   } 

   .profile__avatar {
    margin: 0 0 12px 0;
    height: 80px;
    width: 80px;
   }

   .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
   }

   .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
   }

   .profile__button {
    margin: 0 auto;
   }

   .profile__column {
    margin: 0 0 20px;
   }

   .profile__add-button {
    width: 100%;
    margin: 0;
   }
}