.profile {
    display: flex;
    margin: 45px 0 80px;
    padding: 35px 0 0;
}

.profile__avatar {
    margin: 0 20px 0;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
}

.profile__description {
    margin: 0;
}

.profile__add-btn {
    margin-left: auto;
}